.bg{
    background-color: #343540;
}
p{
    font-weight: bold;
}
.contentCenter{
    display: flex ;
    flex-direction: row;
    justify-content: space-around;
}

footer{
    background-color: #343540;
    text-align: center;
    color: white;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
p{
    justify-content: center;
    width: 350px;
   text-align: justify;
    margin-left: 10rem;
}
