.bg{
    background-color: rgb(134, 129, 129);
}
p{
    font-weight: bold;
    text-align: center;
}
.contentCenter{
    display: flex ;
    flex-direction: row;
    justify-content: space-around;
}

a{
    color:white ;
}
.contactCenter{
    display: flex ;
    flex-direction: row ; 
    justify-content: center ;
}
