
p{
    font-weight: bold;
    text-align: left;
    margin-left: 3rem;
    margin-top: 3rem;
    font-style: italic;
}
.contentCenter{
    display: flex ;
    flex-direction: row;
    justify-content: space-around;
}




li{
    list-style: none;
    text-align: center;
}